language: generic

script:
  # The only depencency: MarkdownPP.
  - pip install MarkdownPP --user
  # Build.
  - make
  # Deploy if needed.
  - bash ./deploy.sh

env:
  global:
    - ENCRYPTION_LABEL: "1e90a3e7ebbb"
